<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Home </title>

  <!-- Bootstrap CSS v5.0.2 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="styles/LandingPage.css">

  <!-- Custom JavaScript -->
  <script src="scripts/toast.js"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/favicon/cropped-favicon.webp" type="image/webp" />
</head>

<body>
  <header>
    <script src="scripts/navbar.js"></script>
  </header>

  <main>
    <!-- show that user is logged in -->


    <div id="signup-choice" class="container">
      <h1>GCC Course Scheduler</h1>
      <h3>Simplifying Schedule Creation Since 2022</h3>
      <a class="btn btn-crimson ms-3" href="ScheduleView.html"> Continue as a guest </a>
      <a class="btn btn-light ms-3" href="Login.html"> Sign up / Log in </a>
    </div>
  </main>

</body>

</html>