
h3 {
    font-size: larger;
}

/* .col {
    background-color: white;
} */

/* .row {
    margin-top: 10px;
    margin-bottom: 10px;

} */

/* .form, .table, #contact-info {
    margin:auto;
    width: 70%;
    max-width: 30em;
    /* margin: auto; */
    /* background-color: rgb(255, 255, 255);
    padding: 2em;
    padding-top: 1.5em;
    padding-bottom:1.5em;
    border:rgb(238, 238, 238) outset;
    border-radius: 15px;
} */

/* .profPad {
    transition: .10s, transform .10s ease;
    -moz-transition: .10s, transform .10s ease;
    -webkit-transition: .10s, transform .10s ease;
}

.profPad:hover {
-ms-transform: scale(1.01); /* IE 9 */
/* -webkit-transform: scale(1.01); /* Safari */
/* transform: scale(1.01);
cursor: pointer;
}

.preview {
    width: 95%;
} */ */ */

/* .pfp {
    text-align: center !important;
    width: 100%;
} */
/* 
.profPad {
    width: 100%;
    height: 100%;
} */


.content {
    text-align: center;
    padding: 4em;
    margin:auto;
    background-color: white;
    width: 70%;
    border: gray thin solid;
    border-radius: .5em;
}

.blurb {
    font-size: small;
}