


/* GRID SETUP */
.calendar {
  align-self: center;
  display: grid;
  grid-gap: 1px;
  background-color: #eee;
  margin: auto;
  position: relative;
  min-width: 70vw;
  max-width: 80vw;
  min-height: 60vh;
  padding: 5px;
  font-size: small;
}

.weekly-byhour {
  /* NAMED LINE NUMBERS (between tracks): 
        COLS: hour markers + 7 days
        ROWS: day markers + 24 hours */
  grid-template-columns: 
    [time] auto [mon] 1fr [tue] 1fr [wed] 1fr [thu] 1fr [fri] 1fr [end-col];
  grid-template-rows:
    [day]  auto
    [h08]  1fr
    [h09]  1fr
    [h10]  1fr 
    [h11]  1fr 
    [h12]  1fr 
    [h13]  1fr 
    [h14]  1fr 
    [h15]  1fr 
    [h16]  1fr 
    [h17]  1fr 
    [h18]  1fr 
    [h19]  1fr 
    [h20]  1fr 
    [h21]  1fr 
    [end-row];
}

/* GENERAL ITEM SETUP */
.calendar li {
  background-color: white;
  padding: 0.25em;
  display: inline-block;
}

/* ITEM TYPES */
li.day, li.time, li.corner { background-color: #f5f5f5; }
li.day { text-align: center; }
li.time { text-align: right; vertical-align: bottom; }
li.event { background-color: #82caaf; position: absolute; height: 100%; width: 100%; }

/* CATEGORIES */
.event.work { background-color: #fecf6a; }
.event.personal { background-color: #82caaf; }

/* DAY HEADINGS   row / col */
.mon { grid-area: day / mon; }
.tue { grid-area: day / tue; }
.wed { grid-area: day / wed; }
.thu { grid-area: day / thu; }
.fri { grid-area: day / fri; }

/* TIME HEADINGS  row / col */
.h00 { grid-area: h00 / time; }
.h01 { grid-area: h01 / time; }
.h02 { grid-area: h02 / time; }
.h03 { grid-area: h03 / time; }
.h04 { grid-area: h04 / time; }
.h05 { grid-area: h05 / time; }
.h06 { grid-area: h06 / time; }
.h07 { grid-area: h07 / time; }
.h08 { grid-area: h08 / time; }
.h09 { grid-area: h09 / time; }
.h10 { grid-area: h10 / time; }
.h11 { grid-area: h11 / time; }
.h12 { grid-area: h12 / time; }
.h13 { grid-area: h13 / time; }
.h14 { grid-area: h14 / time; }
.h15 { grid-area: h15 / time; }
.h16 { grid-area: h16 / time; }
.h17 { grid-area: h17 / time; }
.h18 { grid-area: h18 / time; }
.h19 { grid-area: h19 / time; }
.h20 { grid-area: h20 / time; }
.h21 { grid-area: h21 / time; }
.h22 { grid-area: h22 / time; }
.h23 { grid-area: h23 / time; }

#schedule {
    margin:auto; 
    padding: auto;
}