
button {
    justify-content: center;
    background-color: crimson !important;
    border: crimson !important;
}

footer{
    border-top:  gray thin solid;
}

.btn-crimson {
    background-color: crimson;
    color: white;
    margin-bottom: .7em;
    margin-top: .7em
}

.btn-light {
    background-color: rgb(222, 222, 222);
}

body {
    background-color: rgb(199, 199, 199);
}

main {
    margin: auto;
    background-color: rgb(199, 199, 199);
    padding-bottom: 3em;
    padding-top: 1em;
}

#back {
    color: crimson;
    margin: 1em;
}

h1, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.content {
    text-align: center;
    padding: 4em;
    margin:auto;
    background-color: white;
    width: 70%;
    border: gray thin solid;
    border-radius: .5em;
}

#blurb {
    font-size: small;
}

.form {
    text-align: left;
    padding: 4em;
    margin:auto;
    background-color: white;
    width: 70%;
    border: gray thin solid;
    border-radius: .5em;
}

.submit-btns {
    text-align: center;
}